<% if (message.error) { %> <%= messages.error %> <% } %>
<body>
	<h1>Login</h1>
	<form method="post" action="/auth/login">
		<div class="form-item">
			<label>Email</label>
			<input type="email" name="email" />
		</div>

		<div class="form-item">
			<label>Password</label>
			<input type="password" name="password" />
		</div>
		<button type="submit">Submit</button>
	</form>
</body>
